@model IEnumerable<SystemExamWeb.Models.User>

<h2>Usuarios</h2>
<a asp-action="Create" class="btn btn-primary">Nuevo Usuario</a>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Name</td>
             <td>@user.UserRole</td>
            <td>
                <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-warning">Editar</a>
                <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-sm btn-info">Detalles</a>
                <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table> 