@{
}
<aside class="sidebar">
    <button type="button" class="sidebar-close-btn">
        <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
    </button>
    <div>
        <a href="@Url.Action("Index", "Home")" class="sidebar-logo">
            <img src="~/images/logo.png" alt="site logo" class="light-logo">
            <img src="~/images/logo-light.png" alt="site logo" class="dark-logo">
            <img src="~/images/logo-icon.png" alt="site logo" class="logo-icon">
        </a>
    </div>
    <div class="sidebar-menu-area">
        <ul class="sidebar-menu" id="sidebar-menu">
          
            <li class="sidebar-menu-group-title">Application</li>
            <li>
                <a href="@Url.Action("Email", "Home")">
                    <iconify-icon icon="mage:email" class="menu-icon"></iconify-icon>
                    <span>Email</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Chat", "Home")">
                    <iconify-icon icon="bi:chat-dots" class="menu-icon"></iconify-icon>
                    <span>Chat</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Users")">
                    <iconify-icon icon="mdi:account-multiple" class="menu-icon"></iconify-icon>
                    <span>Usuarios</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Category")">
                    <iconify-icon icon="mdi:shape" class="menu-icon"></iconify-icon>
                    <span>Categorías</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Exams")">
                    <iconify-icon icon="mdi:file-document-edit" class="menu-icon"></iconify-icon>
                    <span>Exámenes</span>
                </a>
            </li>
      

           
        </ul>
    </div>
</aside>